*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family: Poppins, sans-serif;
}

body {
	min-height: 100vh ; 
	background: url('img/bg4.jpg');
	display: flex;
	justify-content : center;
	min-height:100vh;
	background-size: cover;
	background-position: center;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .Logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav a{
	text-decoration: none;
	color: #fff;
	margin-left: 40px;
	border-radius: 20px;
	padding: 10px;
}

header nav a:hover,
header nav a.active{
	background: #fff;
	color: #2b1055;
}

.Teks{
	position: absolute;
	width: 40%;
	top:30%;
	left: 10%;
	transform: translate(0%, -50%);
	text-align: left;
    padding: 10px;

	
}
.Teks h1{
	color: #008080;
	font-size:40px;
	font-weight:100;
	font-family: Arial Black;
	letter-spacing: 2px;
	text-transform: uppercase;
	
}
.Teks p{
	color: #FFFFFF;
	font-size: 17px;
	font-family: Arial,;
	font-style: italic;
	
}
.Teks h5{
	color: #FFFFFF;
	font-size: 23px;
	font-family: Arial Black;
	font-style: Bold;
	font-weight: 50;
}
	
.profile img{
	width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover;
    border: 5px solid #008080;
	position: absolute;
	top:25%;
	right:14%;
}
.lebel {
	position: absolute;
	top: 78%;
	right:17%;
	padding: 13px 28px;
	font-size: 12px;
	font-weight: ;
	background:#008080;
	text-align: center;
	line-height:1;
	color: #FFFFFF;
	font-family :Arial, sans-serif;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.container{
	position:absolute;
	left: 10%;
	top:60%;
	margin:30px 0 0 10px;
	height:130px;
	display: flex;
	gap:10px;
	justify-content: left;
	align-items:center;
}
.container img{
	width: 5%;
	height:130%;
	max-width:25%;
	object-fit:cover;
	border-radius: 10px;
	border:2px solid #008080;
	transition: all ease-in-out 0.5;
}
.container img:hover{
	width:100%;
}

/*--Style About me--*/
*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family: Poppins, sans-serif;
}

body {
	min-height: 100vh ; 
	background: url('img/bg4.jpg');
	display: flex;
	justify-content : center;
	min-height:100vh;
	background-size: cover;
	background-position: center;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .About-Me {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav a{
	text-decoration: none;
	color: #fff;
	margin-left: 40px;
	border-radius: 20px;
	padding: 10px;
}

header nav a:hover,
header nav a.active{
	background: #fff;
	color: #2b1055;
}
.kata{
	position: absolute;
	width: 40%;
	top:50%;
	right: 10%;
	transform: translate(0%, -50%);
	text-align: left;
    padding: 18px;

	
}
.kata h1{
	color: #008080;
	font-size:30px;
	font-weight:80;
	font-family: Arial Black;
	letter-spacing: 2px;
	text-transform: uppercase;
	
}
.kata p{
	color: #FFFFFF;
	font-size: 15px;
	font-family: Arial,;
	font-style: italic;
	
}
/*--btn--*/
.btnYou-Tube{
	padding: 12px 24px;
	font-size:12px;
	font-weight: 30;
	color:#FFFFFF;
	background-color: #008080;
	letter-spacing:0.5 px;
	border-radius:200px;
	text-decoration: none;
	position:absolute;
	font-family: Arial;
	display:flex;
	top:70%;
	right: 500px;
}
.box{
	width:350px;
	height:203px;
	padding:20px;
	border:2px solid #FFFFFF;
	border-radius:10px;
	background-color:#008080;
	box-shadow: 0px, 4px, 6px rgba(0, 0, 0, 0.1);
	position:absolute;
	left:170px;
	top:13%;
}
.box p{
	font-size:15px;
	color: #008080;
	font-weight:bold;
	text-align: center;
	margin-bottom: 10px;
	background-color:#FFFFFF;
	border-radius:5px;
	letter-spacing: 0.8px;
	height:20px
}
.box ul{
	padding:0;
	list-style-type: none;
}
.box ul li{
	font-size:9px; 
	color:#FFFFFF;
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
	
}
.kotak ul li:last-child {
  border-bottom: none;
}

.kotak{
	width:350px;
	height:285px;
	padding:20px;
	border:2px solid #008080;
	border-radius:10px;
	background-color:#F5F5DC;
	box-shadow: 0px, 4px, 6px rgba(0, 0, 0, 0.1);
	position:absolute;
	left:170px;
	top:49%;
}
.kotak p{
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-align: center;
	margin-bottom: 10px;
	background-color:#008080;
	border-radius:5px;
	letter-spacing: 0.8px;
	height:20px
}
.kotak ul{
	padding:0;
	list-style-type: none;
}
.kotak ul li{
	font-size:9px;
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
}

.box ul li:last-child {
  border-bottom: none;
}
	
	
	/*--Style Contact me--*/
*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family: Poppins, sans-serif;
}

body {
	min-height: 100vh ; 
	background: url('img/bg4.jpg');
	display: flex;
	justify-content : center;
	min-height:100vh;
	background-size: cover;
	background-position: center;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .Contact-Me {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav a{
	text-decoration: none;
	color: #fff;
	margin-left: 40px;
	border-radius: 20px;
	padding: 10px;
}

header nav a:hover,
header nav a.active{
	background: #fff;
	color: #2b1055;
}
	/*--contact--*/
	
.card{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	margin:50px auto;
	max-width:1200px;
	margin-top:100px;
	margin-bottom:50px;
	margin-left:100px;
	margin-right:100px;
}
.card-a{
	display:flex;
	width:100%;
}

.left, .right{
	flex:1;
	display:flex;
	margin:0 10px;
}

.left-card{
	background-color:#008080;
	border-radius:10px;
	padding:30px;
	box-shadow:0 4px 6px rgba(0, 0 , 0, 0.1);
	width:500px;
}
.right-card{
	background-color:#FFFFFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0 4px 6px rgba(0, 0 , 0, 0.1);
	display:flex;
	flex-direction:column;
	align-items:stretch;
}
.left-card h2{
	color: #FFFFFF;
	margin-bottom:10px;
	text-align:center;
}
.left-card p{
	line-height:1.6;
	text-align:center;
	color:white;
}

form h2{
	color:#008080;
	margin-bottom:20px;
	text-align:center;
}

input, textarea{
	width:100%;
	padding:10px;
	margin:10px 0;
	border:1px solid #008080;
	border-radius:5px;
	font-size:1rem;
}
button{
	padding:10px 20px;
	background-color: #008080;
	color:white;
	border:none;
	border-radius:5px;
	font-size:1rem;
	cursor:pointer;
	transition: background-color 0.3s;
}

button:hover{
	background-color:#0056b3;
}

	

	
	


	
	
	


